### Задание 1
Создайте таблицы с указанными столбцами и заполните их произвольными данными.

Books (id, author, title, publish_year)
Readers (id, name)
Records (reader_id, book_id, taking_date, returning_date)

In [ ]:
CREATE TABLE Books (
    id INT PRIMARY KEY,
    author NVARCHAR(100),
    title NVARCHAR(100),
    publish_year INT
);

CREATE TABLE Readers (
    id INT PRIMARY KEY,
    name NVARCHAR(100)
);

CREATE TABLE Records (
    reader_id INT,
    book_id INT,
    taking_date DATE,
    returning_date DATE,
    FOREIGN KEY (reader_id) REFERENCES Readers(id),
    FOREIGN KEY (book_id) REFERENCES Books(id)
);

In [ ]:
INSERT INTO Books (id, author, title, publish_year) VALUES
(1, 'Лев Николаевич Толстой', 'Юность', 1857),
(2, 'Федор Михайлович Достоевский', 'Игрок', 1866),
(3, 'Михаил Юрьевич Лермонтов', 'Герой нашего времени', 1840);

INSERT INTO Readers (id, name) VALUES
(1, 'Лиза Меньщикова'),
(2, 'Галина Чистякова'),
(3, 'Петр Федоров');

INSERT INTO Records (reader_id, book_id, taking_date, returning_date) VALUES
(1, 1, '2020-01-01', '2022-01-15'),
(2, 2, '2019-02-10', '2023-03-01'),
(3, 3, '2021-03-05', NULL);

### Задание 2
Постройте select запросы:

Запрос возвращает id и названия книг, находящихся в данный момент на руках у читателей.
Запрос возвращает имена читателей и названия книг, которые они когда либо брали.
Запрос возвращает количество книг для каждого автора.

In [ ]:
SELECT b.id, b.title
FROM Books b
JOIN Records r ON b.id = r.book_id
WHERE r.returning_date IS NULL;

In [ ]:
SELECT rd.name, b.title
FROM Readers rd
JOIN Records r ON rd.id = r.reader_id
JOIN Books b ON r.book_id = b.id;

In [ ]:
SELECT author, COUNT(*) as book_count
FROM Books
GROUP BY author;

### Задание 3
Реализуйте запрос FULL OUTER JOIN и проверьте его на данных из примеров.

In [2]:
SELECT COALESCE(t1.id, t2.id) as id, t1.name as name1, t2.name as name2
FROM Table1 t1
FULL OUTER JOIN Table2 t2 ON t1.id = t2.id;

Error: Please load a database to perform operations